/* General */

:root {
  --bg-color: #090909;
  --primary: white;
  --secondary: #181818;
  --color1: #1d3383;
  --color2: #126743;
  --color3: #cc3037;
  --button-Spacing: 20xpx;
}

body {
  display: block;
  overflow-x: hidden;
  align-content: center;
  justify-content: center;
  color: var(--primary);
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  background: var(--bg-color);
}

hr {
  border-top: 2px solid var(--primary);
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: capitalize;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

/* Navigation */
.hamburger_menu {
  display: none;
  align-self: center;
}

.nav_full {
  background: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3.125rem;
  align-items: end;
  width: auto;
  border-bottom: 0.1875rem var(--primary) solid;
}

.nav_logo {
  font-weight: bold;
  font-size: 3rem;
  align-items: end;
  margin: 5px;
}

.menu_bar {
  display: flex;
  flex-direction: row;
  height: 5.625rem;
  align-items: end;
  margin: 0rem;
}

/*Nav Button Styling*/

.nav_button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-width: 0;
  flex-direction: column;
  height: 3.125rem;
  width: 15rem;
  color: var(--primary);
  background: var(--bg-color);
  /* background: var(--secondary); */
  font-weight: 800;
  font-size: 1.25rem;
  padding-left: 1.25rem;
  margin: 0rem 1.25rem;
  transition: height ease-in 0.1s;
}

.nav_button:hover {
  height: 4.375rem;
}

.nav_button:active {
  height: 3.125rem;
}

/* .hamburger_menu {
    display: none;
  } */

#button_About {
  border-top: 0.3125rem solid var(--color1);
}

#button_Projects {
  border-top: 0.3125rem solid var(--color2);
}

#button_Resume {
  border-top: 0.3125rem solid var(--color3);
}

#button_About:active {
  background: var(--color1);
}

#button_Projects:active {
  background: var(--color2);
}

#button_Resume:active {
  background: var(--color3);
}

/* Content Styling */

.hero {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 20%;
  border-radius: 5px;
  z-index: 0;
  /*border: cornflowerblue dotted 3px;
   */
}

.name {
  display: flex;
  font-size: 4em;
  /*margin: 50px;
  */
  /* font-family: "Overpass", monospace; */
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.135rem;
  text-transform: uppercase;
  padding: 5% 0;
  width: min-content;
  background-image: linear-gradient(45deg, #00c971, #a02cff);
  background-size: 200% 200%;
  animation: gradient 3s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  background-clip: text;
  color: transparent;
  -webkit-animation: gradient 3s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}

.intro {
  min-width: fit-content;
  margin: 5%;
}

#intro_blurb1 {
  display: flex;
  text-transform: capitalize;
  /* max-width: 45ch; */
  /* border-bottom: 2px var(--primary) solid; */
}

#intro_blurb2 {
  line-height: 150%;
}

.contact {
  display: flex;
  color: var(--primary);
  /* font-size: clamp(20px, 20vh, 36px); */
  /* padding: 5% 0; */
  text-align: left;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  /* font-size: 1.5rem; */
  border: none;
  background: none;
  border-top: 0.125rem solid #fff;
}

#mail {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  text-decoration: dashed;
  /* font-weight: lighter; */
}

#mail:hover {
  text-decoration-style: dotted;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.projects {
  /* display: grid;
  grid-template-columns: auto; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-block: 20vh;
  margin: 10%;
}

.projectContainer {
  padding: 10%;
}

.case_study_category {
  font-weight: 100;
}

.case_study {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 10%;
  /* height: 20%; */
  /* gap: 10%; */
  /* object-fit: cover; */
  border-top: 2px solid var(--primary);
  /* background-color: red; */
  /* border-radius: 0.3125rem; */
}

.case_study img {
  width: 100%;
  justify-self: center;
  height: 100%;
  object-fit: scale-down;
  border-radius: 5px;
}

.case_study_text {
  padding: 10%;
  /* width: 300px; */
}

.case_study_button {
  display: flex;
  background: none;
  color: var(--primary);
  align-items: center;
  justify-self: center;
  border: 3px solid var(--primary);
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}

/* Skills Styling */

.skills {
  display: flex;
  flex-flow: column wrap;
  margin: 0 20%;
  align-items: center;
}

.skills h2 {
  margin: 2.5rem;
  justify-self: center;
}

.skill_container {
  display: flex;
  margin: 3.125rem;
  gap: 1.875rem;
  justify-content: center;
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 1.25rem;
}

.cs_full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .introNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
} */

/* .cs_hero {
  display: flex;
  padding: 10%;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-top: var(--primary) solid 2px;
} */

/*Footer*/
footer {
  display: flex;
  flex-flow: row wrap;
  padding: 3.4375rem 0rem;
  align-items: center;
  justify-content: center;
  gap: 25%;
  border-top: 0.125rem solid var(--primary);
  background: var(--BG, #090909);
}

#social_Container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#sign {
  display: flex;
  width: max-content;
  font-weight: 300;
  /* font-size: 30px; */
}

#Socials {
  display: flex;
  /* flex-flow: row wrap; */
  width: min-content;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  list-style: none;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Mobile Styling  */

@media screen and (max-width: 1000px) {
  .menu_bar {
    display: none !important;
  }

  .hamburger_menu {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  #sign {
    text-align: center;
  }
}