:root {
  --bg-color: #090909;
  --primary: white;
  --secondary: #181818;
  --color1: #1d3383;
  --color2: #126743;
  --color3: #cc3037;
  --button-Spacing: 20px;
  --basic-line-weight: 2.5px;
  --line-weight: 3px;
  --beeg-line-weight: 2px;
  --thicc-line-weight: 3.25px;
  --section-spacing: 10%;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

body {
  display: block;
  overflow-x: hidden;
  top: 0;
  left: 0;
  margin: 0;
  justify-self: center;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  background: var(--bg-color);
}

hr {
  border-top: var(--basic-line-weight) solid var(--primary);
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: capitalize;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

svg {
  fill: var(--primary);
  stroke: var(--primary);
}

.section_header {
  padding-block: 20px;
  padding-left: 5px;
  border-top: var(--beeg-line-weight) var(--primary) solid;
  border-bottom: var(--beeg-line-weight) var(--primary) solid;
}

/* Navigation */
.nav_full {
  background: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3.125rem;
  align-items: end;
  width: auto;
  border-bottom: var(--thicc-line-weight) var(--primary) solid;
}

.nav_logo {
  font-weight: bold;
  font-size: 3rem;
  align-items: center;
  margin: 5px;
}

.menu_bar {
  display: flex;
  flex-direction: row;
  height: 5.625rem;
  align-items: end;
  margin: 0rem;
}

/*Nav Button Styling*/

.nav_button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-width: 0;
  flex-direction: column;
  height: 3.125rem;
  width: 15rem;
  color: var(--primary);
  background: var(--bg-color);
  /* background: var(--secondary); */
  font-weight: 800;
  font-size: 1.25rem;
  padding-left: 1.25rem;
  margin: 0rem 1.25rem;
  transition: height ease-in 0.1s;
}

.nav_button:hover {
  height: 4.375rem;
  cursor: pointer;
}

.nav_button:active {
  height: 3.125rem;
}


#button_About {
  border-top: 0.3125rem solid var(--color1);
}

#button_Projects {
  border-top: 0.3125rem solid var(--color2);
}

#button_Resume {
  border-top: 0.3125rem solid var(--color3);
}

#button_About:active {
  background: var(--color1);
}

#button_Projects:active {
  background: var(--color2);
}

#button_Resume:active {
  background: var(--color3);
}

.hamburger_menu {
  display: none;
}

/* Modal Styling */

.modal {
  display: none;
  position: fixed;
  overflow: auto;
  z-index: 10;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--bg-color);
}

.modal_menu {
  display: flex;
  padding-top: 3.125rem;
  justify-content: space-between;
  /* align-self: center; */
  border-bottom: white solid 0.1875rem;
}


.modal_back {
  align-self: center;
}

.modal_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  gap: 15%;
}

.modal_nav_button {
  width: 75%;
  text-decoration: none;
  list-style: none;
  color: white;
  /* margin-left: 10%; */
}

.modal_nav_button:hover {
  cursor: pointer;
}

.modal_nav_button h2 {
  margin-left: 5%;
}

#nav1 {
  border-right: 10px solid var(--color1);
  background: var(--color1);
}

#nav2 {
  border-right: 10px solid var(--color2);
  background: var(--color2);
}

#nav3 {
  border-right: 10px solid var(--color3);
  background: var(--color3);
}

#nav1:active {
  background: var(--color1);
}

#nav2:active {
  background: var(--color2);
}

#nav3:active {
  background: var(--color3);
}

.modal_contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: white 2px solid;
  height: 10%;
}

/* Content Styling */

.hero {
  display: grid;
  height: 100vh;
  grid-template-rows: 60% 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* padding-bottom: 200px; */
  border-radius: 5px;
  min-width: fit-content;
  z-index: 0;
  /*border: cornflowerblue dotted 3px;
   */
}

.frame {
  height: clamn(300px, 50vh, 1000px);
  display: flex;
  width: min-content;
  padding: 100px 30px;
  margin-block: 10%;
  background: ;
  url(https://images.unsplash.com/photo-1724579243894-6a8c9bbfe88c?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: 110% 100%;
}

.decoration {
  display: flex;
  align-self: center;
  justify-content: center;
}

.name {
  display: block;
  font-size: 4em;
  justify-self: center;
  align-items: center;
  min-height: fit-content;
  font-weight: 900;
  line-height: 150%;
  word-spacing: 30px;
  letter-spacing: -0.135rem;
  text-transform: uppercase;
  width: min-content;
  background-image: linear-gradient(45deg, #00c971, #a02cff);
  /* background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C); */

  background-color: none;
  background-size: 200% 200%;
  animation: gradient 5s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  background-clip: text;
  color: transparent;
  -webkit-animation: gradient 5s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}

.intro {
  min-width: fit-content;
  padding: 20px;
  /* margin: 5%; */
}

#intro_blurb1 {
  display: flex;
  text-transform: capitalize;
  /* max-width: 45ch; */
  /* border-bottom: 2px var(--primary) solid; */
}

#intro_blurb2 {
  padding-block: 20px;
}


#mail {
  display: flex;
  align-items: center;
  text-decoration: dashed;
  /* font-weight: lighter; */
}

#mail:hover {
  text-decoration-style: dotted;
}

.projects {
  display: block;
  align-items: center;
  justify-content: center;
  height: min-content;
}

.project_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 100px;
  margin: 5%;
}

#case_study_category {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  list-style: none;
  gap: 5%;
  padding-block: 5px;
}

.tag {
  padding: 10px;
  border: 3px white solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.case_study {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 20px;
}

.case_study img {
  width: 100%;
  justify-self: center;
  height: 100%;
  object-fit: scale-down;
  border-radius: 5px;
  padding: 5%;
  /* margin: 20px */
}

.button {
  display: flex;
  background: none;
  color: var(--primary);
  align-items: center;
  justify-self: center;
  border: none;
  width: fit-content;
  font-size: 20px;
  padding: none;
  font-weight: 600;
}

.button:hover {
  text-decoration: dashed;
}

/* Skills Styling */
.about {
  display: block;
  margin: var(--section-spacing);
  gap: 10%;
}

.about_intro {
  display: grid;
  gap: 20px;
  align-self: center;
  margin-block: var(--section-spacing);
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about_intro h1 {
  align-self: center;
  font-size: clamp(50px, 20%, 300px);
}


.about_intro img {
  height: 100%;
  width: 100%;
}

.about_bio {
  margin-block: 10%;
}

.skills {
  display: flex;
  justify-self: center;
  flex-flow: column wrap;
  width: 100%;
  margin-block: 10%;
  align-self: center;
}

.skills h1 {
  display: flex;
  width: 100%;
}

.skills h2 {
  /* margin: 2.5rem; */
  justify-self: center;
}

.skill_container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 300px;
  gap: 1.25rem;
}

.side_nav {
  position: fixed;
  z-index: 1;
  background: var(--bg-color);
}

.cs_full {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cs_hero_image {}

.cs_Nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 20px;
  align-items: center;
  flex-flow: row;
  gap: 5%;
  border-bottom: 2px var(--primary) solid;
}

.cs_hero {
  display: grid;
  padding-block: 10%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr 1fr));
}

.cs_hero_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  justify-content: center;
}

/* .section_header {
  border-block: var(--beeg-line-weight) var(--primary) solid;
  padding-block: 20px
} */

.cs_section {
  width: 80%;
}

/* .introNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
} */

/* .cs_hero {
  display: flex;
  padding: 10%;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-top: var(--primary) solid 2px;
} */

/*Footer*/
footer {
  display: flex;
  flex-flow: row wrap;
  padding: 3.4375rem 0rem;
  align-items: center;
  justify-content: center;
  gap: 25%;
  border-top: var(--beeg-line-weight) solid var(--primary);
  background: var(--BG);
}

footer svg:hover {
  fill: rgb(76, 175, 255);
  transform: scale(1.5);
  animation: 3s ease-out;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-animation: 3s ease-out;
}

#social_Container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#sign {
  display: flex;
  width: max-content;
  font-weight: 300;
  /* font-size: 30px; */
}

#Socials {
  display: flex;
  /* flex-flow: row wrap; */
  width: min-content;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
}





@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Mobile Styling  */

@media screen and (max-width: 1000px) {
  .menu_bar {
    display: none !important;
  }

  .hamburger_menu {
    display: flex !important;
    align-self: center;
    /* align-self: center; */
  }

  .hamburger_menu:hover {
    cursor: pointer;
  }

  #sign {
    text-align: center;
  }
}

@media screen and (max-height: 1000px) {
  .hero {
    height: auto;
  }
}