:root {
  --bg-color: white;
  --primary: rgb(0, 0, 0);
  /* --bg-color: #ffffff;
  --primary: white; */
  --secondary: #DED6CD;
  --color1: #1d3383;
  --color2: #126743;
  --color3: #cc3037;
  --vibes: linear-gradient(45deg, #00c971, #a02cff);
  --modal-time: 1s;
  --accordion_time: 1s;
  --button-height: 3.125rem;
  --basic-line-weight: 2.5px;
  --line-weight: 3px;
  --beeg-line-weight: 4px;
  --thicc-line-weight: 5px;
  --section-spacing: 10%;
  --section-margin: 5%;
  --padding: 1.25rem;
  --fun-ratio1: 1.85;
  --pretentious-ratio: 1.618033988749894;
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  --fs-0: clamp(1rem, 0.8889rem + 0.5556vw, 1.5rem);
  --fs-1: clamp(1.125rem, 1.0193rem + 0.5283vw, 1.6005rem);
  --fs-2: clamp(1.2656rem, 1.1674rem + 0.4912vw, 1.7077rem);
  --fs-3: clamp(1.4238rem, 1.3353rem + 0.4426vw, 1.8222rem);
  --fs-4: clamp(1.6018rem, 1.5257rem + 0.3805vw, 1.9442rem);
  --fs-5: clamp(1.802rem, 1.7415rem + 0.3027vw, 2.0745rem);
  --fig-width: 50rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #090909;
    --primary: rgb(255, 255, 255);
    --secondary: #090909;
  }
}

/* Basic reset for lists */
ul,
ol {
  display: block;
  list-style-position: inside;
  font-size: var(--fs-0);
  line-height: 2;
  margin: 0;
  padding: 0;
  /* Keep bullets/numbers inside the content area */
}

/* Styling for unordered lists */
ul {
  list-style-type: square;
}

/* Styling for ordered lists */
ol {
  list-style-type: decimal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  text-wrap: stable;
  max-width: 66ch;
  font-size: var(--fs-0);
}

li {
  max-width: 66ch;
}

/* a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
} */

/* a {
  all: unset;
} */

a:link {
  color: var(--primary);
}

a:visited {
  color: var(--primary);
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  top: 0;
  left: 0;
  margin: 0;
  color: var(--primary);
  font-family: "Overpass", "Helvetica", sans-serif;
  font-size: var(--fs-0);
  background: var(--bg-color);
}

hr {
  border: var(--basic-line-weight) solid var(--primary);
  width: 100%;
}

h1 {

  font-weight: bold;
  font-size: var(--fs-5);
  text-transform: uppercase;

}

h2 {

  font-weight: 700;
  font-size: var(--fs-4);
  text-transform: capitalize;

}

h3 {

  font-weight: 600;
  font-size: var(--fs-3);
  text-transform: capitalize;

}

h4 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: var(--fs-2);
}

h5 {
  font-weight: 500;
  font-size: var(--fs-1);
}

h6 {
  font-weight: 500;
}

p {
  /* font-size: clamp(.85rem, 7.5vw + .5rem, 1.25rem); */
  line-height: 1.75;
  font-size: var(--fs-0);
}


img,
picture {
  max-width: 100%;
  display: block;
}

iframe {
  width: 100%;
  margin-block: var(--space-m);
}

svg {
  fill: var(--primary);
  stroke: var(--primary);
}

figure {
  /* text-align: center; */
  display: flex;
  flex-flow: column;
  /* max-width: 800px; */
  /* display: grid; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  font-weight: 300;
  max-width: var(--fig-width);
  text-align: center;
  padding-block: var(--space-s);
}

figure img {
  max-width: var(--fig-width);
  width: 100%;
  border-radius: .3125rem;
  filter: drop-shadow(1px 1px 3px);
  -webkit-filter: drop-shadow(1px 1px 3px);
}

figure img:hover {
  opacity: .7;
  cursor: zoom-in;
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

blockquote {
  display: flex;
  margin: var(--space-m);
  justify-content: center;
  font-size: var(--fs-3);
  font-weight: 450;
}

.page_grid {
  display: grid;
  justify-content: center;
  /* gap: var(--space-3xl); */
  margin-inline: var(--space-xs);
  /* max-width: 112.5rem; */
  /* width: 100%; */
  /* margin-inline: 2.5%; */
}

.tag {
  padding: .625rem;
  border: .1875rem var(--primary) solid;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

/* Navigation */
.nav_full {
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
  background: var(--bg-color);
  border-bottom: var(--thicc-line-weight) var(--primary) solid;
  position: sticky;
  justify-content: center;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  /* max-width: 2500px;
  margin: auto; */
  margin-top: var(--space-l);
  margin-inline: var(--space-s);
  align-items: end;
  /* width: 100%; */
  /* max-width: var(--width); */
  z-index: 3;
}

.nav_logo {
  font-weight: bold;
  font-size: 3rem;
  color: var(--primary);
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  text-decoration: none;
}

.nav_logo_home {
  color: transparent !important;
  background: var(--vibes);
  background-size: 200% 200%;
  animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  background-clip: text;
  -webkit-animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  -webkit-animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}

.nav_logo:hover {
  color: transparent;
  cursor: pointer;
  opacity: .8;
  background: var(--vibes);
  background-size: 200% 200%;
  animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  background-clip: text;
  -webkit-animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  -webkit-animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}

.nav_logo:active {
  scale: .95;
}

.menu_bar {
  display: flex;
  flex-direction: row;
  height: 5.625rem;
  align-items: end;
  margin: 0rem;
}

/*Nav Button Styling*/

.nav_button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-width: 0;
  flex-direction: column;
  height: var(--button-height);
  width: 15rem;
  color: var(--primary);
  background: var(--bg-color);
  font-weight: 800;
  font-size: 1.25rem !important;
  text-indent: 1.25rem;
  margin-inline: 1.25rem;
  transition: all ease-in 0.1s;
  -webkit-transition: all ease-in 0.1s;
  -moz-transition: all ease-in 0.1s;
  -ms-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
}

.nav_button:hover {
  height: calc(var(--button-height) + 1.25rem);
  cursor: pointer;
}

.nav_button:active {
  /* cursor: pointer; */
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.nav_button:disabled {
  cursor: default;
  /* filter: saturate(80%); */
  height: 3.125rem;
}


#button_About {
  border-top: 0.3125rem solid var(--color1);
}

#button_Projects {
  border-top: 0.3125rem solid var(--color2);
}

#button_Resume {
  border-top: 0.3125rem solid var(--color3);
}

#button_About:active {
  background: var(--color1);
}

#button_Projects:active {
  background: var(--color2);
}

#button_Resume:active {
  background: var(--color3);
}

#button_About:disabled {
  background: var(--color1);
}

#button_Projects:disabled {
  background: var(--color2);
}

#button_Resume:disabled {
  background: var(--color3);
}


.name:active {
  animation: bounce 1s ease;
  -webkit-animation: bounce 1s ease;
}

.bounce {
  animation: bounce 1s ease;
  -webkit-animation: bounce 1s ease;
}

.switch {
  display: none;
}

.stop_scroll {
  overflow: hidden;
}

.modal_button {
  display: none;
  align-self: center;
}


/* Modal Styling */

.modal {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  /*inset-block-start: 7.8125rem;
  */
  /*position: fixed;
  */
  overflow: hidden;
  overscroll-behavior: none;
  height: 100vh;
  width: 100%;
  /*z-index: 10;
  */
  transition: height var(--modal-time) ease;
  -webkit-transition: height var(--modal-time) ease;
  -moz-transition: height var(--modal-time) ease;
  -ms-transition: height var(--modal-time) ease;
  -o-transition: height var(--modal-time) ease;
}

.collapsed {
  overflow: hidden;
  height: 0;
  transition: height var(--modal-time) ease;
  -webkit-transition: height var(--modal-time) ease;
  -moz-transition: height var(--modal-time) ease;
  -ms-transition: height var(--modal-time) ease;
  -o-transition: height var(--modal-time) ease;
}

.modal_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: var(--space-l);
  /* height: 55%; */
  /* margin-block: 20px; */
  gap: var(--space-s);
}

.modal_nav_button {
  display: flex;
  /* background: var(--secondary); */
  align-items: center;
  width: 75%;
  height: 60px;
  text-decoration: none;
  list-style: none;
  color: var(--primary);
  /*margin-left: 10%;
  */
}

.modal_nav_button h2 {
  margin-left: 5%;
}

.modal_nav_button:active {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

#nav1 {
  border-right: .625rem solid var(--color2);
}

#nav2 {
  border-right: .625rem solid var(--color1);
}


#nav3 {
  border-right: .625rem solid var(--color3);
}


#nav1:active {
  background: var(--color2);
}

#nav2:active {
  background: var(--color1);
}

#nav3:active {
  background: var(--color3);
}

.modal_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--space-m);
  border-top: var(--primary) var(--line-weight) solid;
  justify-content: space-evenly;
  margin: var(--space-s) 0;
}

/* Content Styling */

.hero_full {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);
  width: 100%;
  margin-bottom: 200px;
  z-index: 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.frame {
  /* background-color: var(--primary); */
  /* border: 1rem double var(--primary); */
  display: flex;
  width: min-content;
  padding: 6.25rem 1.875rem;
  margin: 10%;
  aspect-ratio: var(--pretentious-ratio);
  align-items: center;
  background-color: var(--primary);
  background-position: center;
  background-size: 110% 100%;
}

.name {
  display: block;
  /*-webkit-text-stroke: 1px white;
  */
  user-select: none;
  font-style: normal;
  font-size: 4rem;
  justify-self: center;
  align-items: center;
  min-height: fit-content;
  font-weight: 900;
  line-height: 150%;
  word-spacing: 1.875rem;
  letter-spacing: -0.135rem;
  text-transform: uppercase;
  width: min-content;
  color: var(--bg-color);
  /* color: transparent; */
  /* background: linear-gradient(90deg, hsla(195, 86%, 50%, 1) 0%, hsla(236, 93%, 65%, 1) 100%);
  background-size: 200% 200%;
  animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  background-clip: text;
  -webkit-animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  -webkit-animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite; */
}

.name:hover {
  cursor: pointer;
}


.indicator {
  display: flex;
  cursor: pointer;
  animation: gentle-hover 3s infinite;
  -webkit-animation: gentle-hover 3s infinite;
}

.indicator:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.intro {
  /* min-width: fit-content; */
  padding: var(--space-m);
  aspect-ratio: var(--pretentious-ratio);
  /* margin: 5%; */
}

#intro_blurb1 {
  display: flex;
  text-transform: capitalize;
  /* max-width: 45ch; */
  /* border-bottom: .125rem var(--primary) solid; */
}

.contact {
  display: flex;
  flex-direction: column;
  margin-block: var(--space-m);
  gap: var(--space-s);
  align-items: center;
  justify-content: center;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  border: var(--basic-line-weight) var(--primary) solid;
  /*border-radius: 800px;
  */
  width: 100%;
  transition: ease .3s;
  text-decoration: none;
  /*background-clip: text;
  */
  /*-webkit-animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  */
  /*-webkit-border-radius: 800px;
  -moz-border-radius: 800px;
  -ms-border-radius: 800px;
  -o-border-radius: 800px;
  */
  : ;
  -webkit-transition: ease .3s;
  -moz-transition: ease .3s;
  -ms-transition: ease .3s;
  -o-transition: ease .3s;
}

.mail:hover {
  color: var(--bg-color) !important;
  background: var(--primary);
}

/* Featured Projects Section */

.projects {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.project_container {
  display: grid;
  gap: var(--space-3xl);
  padding: var(--space-l);
  margin-bottom: 10%;
}

.project_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  padding: var(--space-l) var(--space-m);
  gap: var(--space-m);
  text-decoration: none;
  margin-block: 10%;
  border-radius: 4px;
  border: thick var(--primary) solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all .68s ease;
  -webkit-transition: all .68s ease;
  -moz-transition: all .68s ease;
  -ms-transition: all .68s ease;
  -o-transition: all .68s ease;
}

.project_card:hover {
  transition: border .4s ease;

  transform: scale(1.05);
  transition: .4s all cubic-bezier(0.22, 1, 0.36, 1);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transition: .4s all cubic-bezier(0.22, 1, 0.36, 1);
  -moz-transition: .4s all cubic-bezier(0.22, 1, 0.36, 1);
  -ms-transition: .4s all cubic-bezier(0.22, 1, 0.36, 1);
  -o-transition: .4s all cubic-bezier(0.22, 1, 0.36, 1);
}

.project_card:active {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
}

.project_card hr {
  border: white solid;
}

#tm_card {
  background-color: #2255b4;
  border: #2255b4 thick solid;
  color: white !important;
}

#ug_card {
  background-color: #818d40;
  border: #c0c79b thick double;
  color: white !important;
}

.project_card_content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  max-width: 31.25rem;
}

/* .project_card hr {
  border: white solid;
} */

.project_card_img {
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: .3125rem;
  width: 100%;
  -moz-border-radius: .3125rem;
  -ms-border-radius: .3125rem;
  -o-border-radius: .3125rem;
  -webkit-border-radius: .3125rem;
  -moz-border-radius: .3125rem;
}


.button {
  display: flex;
  background: none;
  color: var(--primary);
  align-items: center;
  justify-self: center;
  border: none;
  margin-block: var(--space-xs);
  width: fit-content;
  padding: none;
  font-weight: 600;
}

/* .button:hover {
  color: transparent !important;
  text-decoration: underline;
  background: var(--vibes);
  background-size: 200% 200%;
  animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  background-clip: text;
  -webkit-animation: gradient 15s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
} */

.button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.button:active {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
  opacity: .8;
}

/* About Page */

.about {
  display: block;
  /* margin: var(--section-spacing); */
  gap: 10%;
  padding-block: 5%;
}

.about_pic {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about_pic_image {
  max-width: 400px;
  border: solid;
}

.about_intro {
  display: grid;
  gap: 1.25rem;
  align-self: center;
  padding-inline: 5%;
  margin-block: var(--space-s);
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

.about_intro h1 {
  display: flex;
  height: 100%;
  min-width: none;
  background-color: var(--color1);
  align-self: center;
  align-items: center;
  padding: 0 5%;
  /* font-size: clamp(3.125rem, 20%, 18.75rem);
   */
}

.about_intro img {
  height: 100%;
  width: 100%;
}

.about_bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-block: 10%; */
  /* text-align: justify; */
  margin: 10%;
  text-indent: var(--space-m);
  line-height: 150%;
  /* font-size: clamp(1rem, 20%, 5rem); */
  /* line-height: 1.5; */
}

.skills {
  display: flex;
  justify-self: center;
  flex-flow: column wrap;
  width: 100%;
  /* margin-block: 10%; */
  align-self: center;
}

.skills h1 {
  display: flex;
  width: 100%;
}

.skills h2 {
  /* margin: 2.5rem; */
  justify-self: center;
}

.skill_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--space-l);
  width: 18.75rem;
  gap: 1.25rem;
  font-size: 1.25rem, 150%, 12.5rem;
}

.works_section {
  margin: var(--space-l);
}

.works_container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  gap: var(--space-m);
  /* width: 100%; */
  padding-block: var(--space-l);
}

.works_case_study {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  align-items: stretch;
  /* height: 600px; */
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.works_case_study img {
  width: 100%;
  min-width: 300px;
}

.works_overlay {
  position: absolute;
  display: flex;
  align-content: stretch;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  opacity: 0;
  transition: 400ms ease;
  background-color: var(--bg-color);
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  -ms-transition: 400ms ease;
  -o-transition: 400ms ease;
}

.works_overlay a {
  text-decoration: none;
}

.works_case_study:hover .works_overlay {
  opacity: 100%;
}

.works_desc {
  margin: var(--space-s);
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
}

.works_illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  margin-inline: var(--space-s);
  align-items: baseline;
  /* height: 600px; */
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.works_illustration:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* Case Study Section */

.cs_gallery {
  display: flex;
  /* min-width: 300px; */
  max-width: 1000px;
  margin-block: var(--space-s);
  width: 100%;
  flex-direction: row;
  gap: var(--space-s);
  overflow-x: scroll;
  overscroll-behavior-x: contain;
}

.cs_gallery img {
  aspect-ratio: 1;
  border-radius: 5px;
  object-fit: cover;
  width: 400px;
  scroll-snap-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.cs_row {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cs_sub_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.flex_row {
  display: flex;
  flex-flow: row;
}

/* .flex_col {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.section_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  padding-block: var(--space-s);
  padding-inline: .3125rem;
  border-block: var(--beeg-line-weight) var(--primary) solid;
}

.cs_section_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  padding-block: var(--space-s);
  padding-inline: .3125rem;
  border-block: var(--beeg-line-weight) var(--primary) solid;
}

.cs_section_header:hover {
  cursor: pointer;
}

.cs_section_content {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 100%;
  margin-top: var(--space-xl);
  transition: max-height var(--accordion_time) ease;
  -webkit-transition: max-height var(--accordion_time) ease;
  -moz-transition: max-height var(--accordion_time) ease;
  -ms-transition: max-height var(--accordion_time) ease;
  -o-transition: max-height var(--accordion_time) ease;
  margin-bottom: var(--space-l);
  margin-inline: var(--space-s);
}

.subsection_header {
  width: 100%;
  border-bottom: var(--primary) var(--basic-line-weight) solid;
  padding-block: var(--space-s);
}

.subsection_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.chev {
  display: flex;
  align-items: center;
  transition: transform var(--accordion_time) ease;
  -webkit-transition: transform var(--accordion_time) ease;
  -moz-transition: transform var(--accordion_time) ease;
  -ms-transition: transform var(--accordion_time) ease;
  -o-transition: transform var(--accordion_time) ease;
}

.chev_rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all var(--accordion_time) ease;
  -webkit-transition: all var(--accordion_time) ease;
  -moz-transition: all var(--accordion_time) ease;
  -ms-transition: all var(--accordion_time) ease;
  -o-transition: all var(--accordion_time) ease;
}

.cs_Nav {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  width: 100%;
  margin: var(--space-m);
  align-items: center;
  text-align: center;
  flex-flow: row;
  /* border-bottom: .125rem var(--primary) solid; */
}

.cs_figure {
  display: grid;
  gap: var(--space-m);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.cs_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
  max-width: 87.5rem;
}

.cs_hero_title {
  border-block: var(--beeg-line-weight) var(--primary) solid;
  padding: var(--space-s);
  width: 100%;
}

.test {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.cs_hero_image img {
  width: 100%;
  /* height: 500px; */
  object-fit: cover;
  aspect-ratio: 16/9;
  /* object-position: bottom; */
}

.cs_info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: var(--space-s);
  justify-content: center;
  width: 100%;
}

.frame_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 100%; */
}

#ug_prototype {
  aspect-ratio: 16/9;
}

#tm_prototype {
  aspect-ratio: .46;
  justify-self: center;
  max-width: 400px;
}

.cs_end {
  display: flex;
  border-top: var(--line-weight) var(--primary) solid;
  margin-block: var(--space-xl);
  justify-content: space-between;
}

.cs_end_next {
  text-align: right;
}

/* css image modal */

.image_modal_overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.image_modal_content {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

/*Footer*/
footer {
  display: flex;
  padding: 3.125rem var(--section-spacing);
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-2xl);
  text-align: center;
  border-top: var(--thicc-line-weight) solid var(--primary);
  background: var(--BG);
}


footer svg:hover {
  /* fill: rgb(88, 255, 219); */
  transform: scale(1.2);
  animation: 3s ease-out;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-animation: 3s ease-out;
}

footer svg:active {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
  opacity: .8;
}

#social_Container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.875rem;
  align-items: center;
  justify-content: center;
}

.social_1 svg:hover {
  fill: #2dba4e;
  stroke: none;
}

.social_2 svg:hover {
  fill: #00a0dc;
  stroke: none;
}

.social_3 svg:hover {
  fill: #0057ff;
  stroke: none;
}

#sign {
  display: flex;
  font-weight: 300;
  align-items: center;
  padding: var(--space-s);
  /* font-size: 1.875rem; */
}

#Socials {
  display: flex;
  /* flex-flow: row wrap; */
  width: min-content;
  align-items: center;
  gap: var(--space-s);
  justify-content: space-between;
  list-style: none;
}


.heart {
  color: rgb(248, 96, 96);
  animation: normal;
  -webkit-animation: normal;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}


@keyframes zoom {
  from {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gentle-hover {
  from {
    transform: translatey(0);
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
  }

  50% {
    transform: translatey(10px);
    -webkit-transform: translatey(10px);
    -moz-transform: translatey(10px);
    -ms-transform: translatey(10px);
    -o-transform: translatey(10px);
  }

  to {
    transform: translatey(0);
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
  }
}

@keyframes bouncy {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-4 18:28:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


@keyframes card {
  0% {
    filter: drop-shadow(0 0 1rem white);
    -webkit-filter: drop-shadow(0 0 1rem white);
  }

  50% {
    filter: drop-shadow(0 0 2rem white);
    -webkit-filter: drop-shadow(0 0 2rem white);
  }
}

/* Mobile Styling  */

@media screen and (max-width: 62.5rem) {

  /* h2 {
    font-size: 1.5rem;
  } */

  .menu_bar {
    display: none !important;
  }

  .modal_button {
    display: flex !important;
    align-self: center;
    /* align-self: center; */
  }

  .modal_button:hover {
    cursor: pointer;
  }

  .side_nav {
    font-size: 1.125rem !important;
  }

  #sign {
    text-align: center;
  }
}

@media screen and (max-height: 62.5rem) {
  .hero_full {
    /* display: flex; */
    justify-content: center;
    height: auto !important;
  }
}

@media screen and (prefers-reduced-motion: reduce),
(update: slow) {
  body {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}