/* General Styling*/

body {
  background: 090909;
  color: black;
  font-family: overpass;
}

h1 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 36;
}

h2 {
  font-weight: 700;
  font-size: 24;
}

/* Nav Styles*/

.card {
}
